* {
    font-family: 'Victoria Serif', sans-serif;
    padding: 0;
    margin: 0;
}
/* headerDaPagina */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
}

.listMenu{
    list-style-type: none;
    display: flex;
}

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 4rem;
    left: 0.5rem;
}

.logo-home{
    display: flex;
    align-items: center;
    justify-content: start;
}

.headd{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 98.8vw;
    background-color: black;
}

/* search */

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-head{
    display: flex;
    justify-content: end;
    align-items: center;
}

.headerr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background-color: black;
}

.first-colunm-header{
    display: flex;
    align-items: center;
    justify-content: start;
}

.seconds-colunm-header{
    display: flex;
    align-items: center;
    justify-content: end;
}

/* footer */
/* .footerDaPagina{
    display: flex;
    justify-content: center;
} */

.spacediv{
    padding: 10px;
    text-align: start;
    max-width: 100%;
    margin: auto;
}

h3{
    text-align: center;
    width: 100%;
    font-size: 40px;
}

.footerRedes{
    list-style-type: none;
    font-size: 30px;
}

.footerRedes a{
    color: black;
}

.footerTrabalhe{
    list-style-type: none;
}

.footerTrabalhe li span{
    font-size: 20px;
}

.footerFaleConosco{
    list-style-type: none;
}

.footerFaleConosco li{
    font-size: 30px;
}

.footerFormasPagementos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.bandeiras{
    width: 100px;
    height: 80px;
    margin: 10px;
}

/* home */

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to{
        transform: translateX(-10%);
    }
}

.listaItem{
    display: flex;
    justify-content: start;
    width: 100%;
    /* overflow-x: hidden;
    white-space: nowrap;
    animation: scroll 1s linear infinite alternate; */
}

.item{
    padding: 55px;
    margin: auto;
    border-radius: 5px;
}

.homepreco{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.homebtn{
    position: relative;
    top: 50%;
    left: 50%;
}

.slideIMG{
    margin: 5px;
    display: flex;
    align-items: center;

    
}

.slider{
    overflow: hidden;
    align-items: center;
    display: flex;
    transition: 0.5s;
}

.slide{
    transition: 2s;
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: start;
    transition: 2s;
}

.imagens{
    width: 100%;
    transition: 1s;
    animation: backInRight;
    animation-iteration-count: 1;
    animation-duration: 2s;
    object-fit: cover;
}


.navegation-bar{
    position: absolute;
    left: 50%;

    transform: translate(-50%);
}

.inputNone{
    display: none;
}

.labelstyle{
    border: solid 2px;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.labelstyle:hover{
    color: gray;
    background-color: gray;
    transition: 0.5s;
}

.labelstyle:not(last-child){
    margin-right: 5px;
}

.navegation-bar{
    position: absolute;
    display: flex;
    flex-direction: row;
}

.linhaTabela{

}

.cedulaTabela{
    padding: 1rem;
}